:root {
  --primary-color: #333;
  --secondary-color: #28a745;
  --danger-color: #ff4d4d;
  --light-gray: #f4f4f4;
  --dark-gray: #333;
  --white: #fff;
}

.body {
  background-color: #fff;
  color: #6c757d;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 20px;
}

.button {
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  opacity: 0.8;
}

.action-button {
  background-color: var(--secondary-color);
  color: var(--white);
  margin-top: 15px;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.action-button:hover {
  background-color: #218838;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  color: white;
  text-align: center;
  box-sizing:border-box;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.landing-page video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-section {
  position: relative;
  z-index: 1;
  padding: 60px 20px;
}
.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.data-section {
  margin: 30px 0;;
}

.data-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.data-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: left;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s;
}

.data-item:hover {
  transform: translateY(-10px);
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin: 8px 0;
}

.navbar {
  background-color: var(--primary-color);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 60px;
}

.navbar a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  margin: 0 15px;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.auth-container form input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

.auth-container form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container form button:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.card {
  background: var(--white);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}


.footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--white);
  text-align: left;
  padding: 40px 20px;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top:auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content {
  padding-right: 0px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.about, .social {
  margin-bottom: 20px;
}
h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.about a, .social a {
  display: block;
  color: var(--white);
  text-decoration: none;
  margin: 5px 0;
  font-size: 14px;
}

.about a:hover, .social a:hover {
  color: var(--secondary-color);
}

.social a {
  font-size: 16px;
}

.footer p {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about-us-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  border-radius: 10px;
}

.about-us-container h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.about-us-container h2 {
  font-size: 24px;
  margin-top: 30px;
  color: var(--secondary-color);
}

.about-us-container p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-us-container li {
  font-size: 18px;
  margin-bottom: 10px;
}
